:root {
  --c-aside: #bdcdf6;
  --c-blog: #f9d7d7;
  --c-logo: #f1f2ae;
  --c-nav: #e7efd6;
  --c-white: white;
  --c-black: black;
  --c-bg: #d9d9d9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--c-black);
}

ul {
  list-style-type: none;
}
