/** Global */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

/** Main */
body {
  background-color: white;
  font-size: 16px;
  color: black;
}

ul {
  list-style-type: none;
}

a span:first-child {
  color: #FF9900; /* Змінити колір першого тексту у тегу <a> на червоний */
  text-decoration: none
}

a {
  color: #2F281E;
}



/** Header */

.wrapper {
max-width: 90%;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}

.header-wrapper {
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
max-width: 90%;
padding-top: 16px;
}

.menu-list {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
}

.logo {
  padding-right: 300px;
}

.menu-list:first-child {
  color: #FF9900; 
}

/** Fist-screen */

.container {
  margin-top: 100px;
  display: flex;
  box-sizing: border-box;
  justify-content: center; 
}

.block-container {
  width: 500px; 
  height: 100px; 
  margin: 0 10px; 
  height: 54vh;
}

.text-title {
  padding-right: 40px;
  padding-top: 60px;
  font-size: 44px;
}

.text-content {
  padding-right: 44px;
  padding-top: 40px;
  font-size: 18px;
  padding-bottom: 40px;
}


/* *Buttons */

.button-container {
  padding-left: 200px;
}

.btn-sign-in  {
  background-color: white;
  color: #2F281E;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid gray;
}

.btn-sign-up {
  background-color: #FF9900;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  padding: 10px 20px;
  border: none;
}

.btn-get-started {
  background-color: #FF9900;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  padding: 10px 20px;
  border: none;  /* Якщо прибрати  border: none; буде активність кнопки + кордони. Як зробити активність  кнопки, але бещ кордонів? */
}
