/* *Main */

.main {
  margin-top: 100px;
  border: 20px;
  font-size: 22px;
  color: var(--c-primary);
  /* border: 5px solid red; */
  
}
.main-title {
  padding-left: 360px;
}

/* *Main*/

.weather-table {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
  border: 1px solid var(--c-primary);
  color: var(--c-primary);
  text-align: center;
  margin-top: 35px;
  } 

  /* Blocks */

.block {
  width: 25%;
  padding: 25px;
  border: 1px solid var(--c-primary);
  background-color: #71b8db;
  transition: 0.3s ease;
}

.block--middle {
  width: 50%;
}

.block--big {
  width: 100%;
  background-color: #66669966;
}
.block--middle--extra {
  background-color: #CC6699;
}
.block--teal {
  background-color: #33CCCC;
}
.block--purple {
background-color: #996699;
}
.block--rose {
  background-color: #C24747;
} 
.block--carrot {
background-color: #E2674A;
}
.block--yellow {
  background-color: #FFCC66
  ;
}
.block--palette {
  background-color: #99CC99;
}
.block--grey {
  background-color: #669999;
}
.block--green {
  background-color: #339966;
}

.title {
  margin-bottom: 10px;
}

.weather-table .block:hover {
  border-color: blue;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* *Footer */

.footer-text {
  font-size: 16px;
  color: white;
  padding-left: 360px;
  padding-top: 35px;
}