/* **Global */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
    border: 1px solid red;
}

body {
  font-size: 16px;
  min-height:100vh;
  background-color: lightgrey;
  max-width: 100%;
}

.wrapper {
  height: 150vh;
}


/* *Main */

.main {
  margin-top: 100px;
  border: 20px;
  width: 1440px;
  width: 100%;
  display: flex;
  align-items: center; 
  
}

.container-string {
display: flex;
margin: 0 auto;
}

.container-title {
  width: 300px;
  align-items: center;
  text-align: center;
  font-size: 21px;
  color: white;
  font-family: Lucida Sans Unicode;
  margin-bottom: 50px;
}


.main-container {
  box-sizing: border-box;
  padding-right: 80px;
  padding-left: 80px;
  
}

.main-container {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 50px;
  margin: 0 auto;
  background-color:  #3399CC;  
  border: 20px solid #2B81AC; 

  
}

.main-container2 {
  margin: 0 auto;
  width: 1440px;
  height: 900px; 
  background-color:  #3399CC;  
  border: 20px solid #2B81AC; 
  box-sizing: border-box; 
  display: flex;
  height: 100vh; 
}


.middle-container {
  height: 150px;
  width: 580px;
  box-sizing: border-box;
  /* border-color: 5 solid red; */
  border: 5px solid white;
}
.small-container {
  height: 150px;
  width: 290px;
  box-sizing: border-box;
  border: 5px solid white;
}

.large-container {
  height: 150px;
  width: 1160px;
  border: 5px solid white;
}

/* Content */
.content-Lisbon {
  align-items: center;
  background:#71b8db;
}

.content-Paris {
background: #33CCCC;
}

.text-container {
  color: white;
}

/* .middle-container:hover {
  border-color: blue;
} */