/* *Main */

.main {
  margin-top: 100px;
  border: 20px;
  font-size: 22px;
  color: var(--c-primary);
}

.main-title {
  padding-left: 360px;
}

/* Header */
.header {
  width: 100%;
  background-color: #3399cc;
}

/* *Main*/

.weather-table {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
  border: 1px solid var(--c-primary);
  color: var(--c-primary);
  text-align: center;
  margin-top: 35px;
  transition: opacity 0.5s ease, filter 0.5s ease;
}

.block:hover {
  opacity: 1;
  filter: none;
}

/* Blocks */

.block {
  width: 25%;
  padding: 25px;
  border: 1px solid var(--c-primary);
  background-color: #71b8db;
  transition: 0.6s ease;
  opacity: 0.5;
}

.block--middle {
  width: 50%;
}

.block--big {
  width: 100%;
  background-color: #66669966;
}
.block--middle--extra {
  background-color: #cc6699;
}
.block--teal {
  background-color: #33cccc;
}
.block--purple {
  background-color: #996699;
}
.block--rose {
  background-color: #c24747;
}
.block--carrot {
  background-color: #e2674a;
}
.block--yellow {
  background-color: #ffcc66;
}
.block--palette {
  background-color: #99cc99;
}
.block--grey {
  background-color: #669999;
}
.block--green {
  background-color: #339966;
}

.title {
  margin-bottom: 10px;
}

.weather-table .block:hover {
  /* border-color: blue; */
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* *Footer */

.footer-text {
  font-size: 16px;
  color: white;
  padding-left: 360px;
  padding-top: 35px;
}

.object {
  transition: opacity 0.5s ease, filter 0.5s ease; /* Додаємо плавний перехід для зміни прозорості та чіткості */
}

/* Застосовуємо прозорість до об'єкта */
.object {
  opacity: 0.5; /* Додаємо прозорість до об'єкта */
}

/* При наведенні, змінюємо чіткість */
.object:hover {
  opacity: 1; /* Збільшуємо прозорість об'єкта при наведенні */
  filter: none; /* Відміняємо фільтр, щоб об'єкт став більш чітким */
}
