mixin header
  header.header
    .wrapper.header-wrapper
      +logo
      +navigation
      .header-buttons
        +button("Sign In", "button", "button--white")
        +button("Sign Up", "", "href")



