mixin navigation
  nav.nivagation
    ul.nivagation-list
      +navigation-item("#", "Product")
      +navigation-item("#", "Customers")
      +navigation-item("#", "Pricing")
      +navigation-item("#", "Resourses")
