.button {
  justify-content: center;
  padding-right: 25px;
  padding-left: 25px;
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: #ff9900;
  color: white;
  border: 1px solid #ff9900;
  cursor: pointer;
  font-weight: 600;
  transition: var(#2f281e);


  &:hover {
      background-color: var(--c-black);
      border-color: var(--c-black);
      color: var(--c-white);
    }

&--white {
  border-color: gray;
  background-color: white;
  color: var(--c-black);
}

&--large {
  padding-left: 40px;
  padding-right: 40px;
}

}
