:root {
  /* Colors */
  --c-white: white;

  --c-primary: #16133d;
  --c-service: #7690a8;
  --c-title-light: #ffffff;
  --c-link: #3db370;

  /* Fonts */
  --s-primay: 16px;
  --s-title: 40px;
  --f-title: 24px;
  --c-title: 34px;
  --f-weight: 500;
  --f-w-serv: 400;
  --f-w-exp: 600;

  /* Stykes */
  --f-style: Roboto;
  --f-exp: Nunito Sans;
  --f-free: Quicksand;
}